<?xml version="1.0" encoding="windows-1250"?>
<?eclipse version="3.0"?>
<plugin>
	
	<extension point="org.eclipse.ui.commands">
		<command name="Upload/execute"
			description="Uploads resources or executes actions on midPoint"
			id="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.withAction" name="Execute predefined action afterwards" />
		</command>
		<command name="Download"
			description="Downloads objects from midPoint"
			id="com.evolveum.midpoint.eclipse.ui.command.download">
		</command>
		<command name="Compute differences"
			description="Computes differences between midPoint object(s) and the local one(s)"
			id="com.evolveum.midpoint.eclipse.ui.command.computeDifferences">
		</command>
		<command name="Execute predefined action"
			description="Executes a predefined midPoint action"
			id="com.evolveum.midpoint.eclipse.ui.command.executeAction">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.actionNumber" name="Action number"/>
		</command>
		<command name="Test connection"
			description="Tests a connection to midPoint server"
			id="com.evolveum.midpoint.eclipse.ui.command.testConnection">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.serverName" name="Server name"/>
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.serverUrl" name="Server URL"/>
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.login" name="Login"/>
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.password" name="Password"/>
		</command>
		<command name="Show plugin console"
			description="Shows a console for midPoint plugin"
			id="com.evolveum.midpoint.eclipse.ui.command.showConsole"/>
		<command name="Preferences"
			description="Edit midPoint plugin preferences"
			id="com.evolveum.midpoint.eclipse.ui.command.editPreferences"/>
		<command name="Preferences (actions)"
			description="Edit midPoint plugin preferences related to actions"
			id="com.evolveum.midpoint.eclipse.ui.command.editActionsPreferences"/>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.server.FileRequestHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.server.FileRequestHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.computeDifferences" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.server.FileRequestHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.executeAction" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.server.DownloadHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.download" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.TestConnectionHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.testConnection" />				 
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ShowConsoleHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.showConsole" />				 
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.EditPreferencesHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.editPreferences" />				 
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.EditPreferencesHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.editActionsPreferences" />
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<dynamic class="com.evolveum.midpoint.eclipse.ui.PopupMenuContributor"
      			id="menu:com.evolveum.midpoint.eclipse.ui.menu.popup"/>
<!--			<separator name="separator-midPoint-start" visible="true"/>
			<command 
				commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute" 
				label="Upload/execute (midPoint)" 
				style="push"/>
			<command 
				commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute" 
				label="Upload/execute (midPoint); with action" 
				style="push">
				<parameter
                        name="com.evolveum.midpoint.eclipse.ui.commandParameter.withAction" value="true"/>
			</command>
			<command 
				commandId="com.evolveum.midpoint.eclipse.ui.command.download" 
				label="Download from midPoint" 
				style="push"/>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.computeDifferences"
                  mnemonic="C"
                  id="com.evolveum.midpoint.eclipse.ui.menu.computeDifferences"
                  label="Compute differences"
                  style="push">
            </command>
			<separator name="separator-midPoint-end" visible="true"/> -->
		</menuContribution>
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu label="midPoint" mnemonic="M" id="com.evolveum.midpoint.eclipse.ui.menu.midPointMenu">
         	<dynamic class="com.evolveum.midpoint.eclipse.ui.MainMenuContributor"
      			id="menu:com.evolveum.midpoint.eclipse.ui.menu.main"/>
            <!--<command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute"
                  mnemonic="U"
                  id="com.evolveum.midpoint.eclipse.ui.menu.uploadOrExecute"
                  label="Upload/execute"
                  style="push">
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute"
                  mnemonic="A"
                  id="com.evolveum.midpoint.eclipse.ui.menu.uploadOrExecuteWithAction"
                  label="Upload/execute (with predefined action)"
                  style="push">
                  <parameter
                        name="com.evolveum.midpoint.eclipse.ui.commandParameter.withAction" value="true"/>
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.download"
                  mnemonic="D"
                  id="com.evolveum.midpoint.eclipse.ui.menu.download"
                  label="Download objects"
                  style="push">
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.computeDifferences"
                  mnemonic="C"
                  id="com.evolveum.midpoint.eclipse.ui.menu.computeDifferences"
                  label="Compute differences"
                  style="push">
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.executeAction"
                  mnemonic="1"
                  id="com.evolveum.midpoint.eclipse.ui.menu.executeAction1"
                  label="Execute predefined action 1"
                  style="push">
                  <parameter
                        name="com.evolveum.midpoint.eclipse.ui.commandParameter.actionNumber" value="1"/>
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.executeAction"
                  mnemonic="2"
                  id="com.evolveum.midpoint.eclipse.ui.menu.executeAction2"
                  label="Execute predefined action 2"
                  style="push">
                  <parameter
                        name="com.evolveum.midpoint.eclipse.ui.commandParameter.actionNumber" value="2"/>
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.executeAction"
                  mnemonic="3"
                  id="com.evolveum.midpoint.eclipse.ui.menu.executeAction3"
                  label="Execute predefined action 3"
                  style="push">
                  <parameter
                        name="com.evolveum.midpoint.eclipse.ui.commandParameter.actionNumber" value="3"/>
            </command>
            <separator name="separator1" visible="true"/>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.testConnection"
                  mnemonic="T"
                  id="com.evolveum.midpoint.eclipse.ui.menu.testConnection"
                  label="Test connection to midPoint server"
                  style="push">
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.showConsole"
                  mnemonic="S"
                  id="com.evolveum.midpoint.eclipse.ui.menu.showConsole"
                  label="Show plugin console"
                  style="push">
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.editPreferences"
                  mnemonic="P"
                  id="com.evolveum.midpoint.eclipse.ui.menu.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.editActionsPreferences"
                  id="com.evolveum.midpoint.eclipse.ui.menu.preferencesActions"
                  label="Preferences (actions)"
                  style="push">
            </command>-->
         </menu>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.evolveum.midpoint.eclipse.ui.toolbar.midPointToolbar">
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute"
                  tooltip="Upload to midPoint or execute an action"
                  label="Up/Exec"
                  id="com.evolveum.midpoint.eclipse.ui.toolbar.upload">	<!-- icon="icons/sample.gif" -->
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute"
                  tooltip="Upload to midPoint or execute an action (with predefined action execution afterwards)"
                  label="Up/Ex+Action"
                  id="com.evolveum.midpoint.eclipse.ui.toolbar.uploadWithAction">	<!-- icon="icons/sample.gif" -->
                  <parameter
                        name="com.evolveum.midpoint.eclipse.ui.commandParameter.withAction" value="true"/>
            </command>
         </toolbar>
      </menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="MidPoint"
			class="com.evolveum.midpoint.eclipse.ui.prefs.MidPointPreferencePage"
			id="com.evolveum.midpoint.eclipse.ui.preference.midPoint"/>
		<page name="Environments"
			class="com.evolveum.midpoint.eclipse.ui.prefs.ServersPreferencePage"
			category="com.evolveum.midpoint.eclipse.ui.preference.midPoint"
			id="com.evolveum.midpoint.eclipse.ui.preference.environments"/>
		<page name="Actions"
			class="com.evolveum.midpoint.eclipse.ui.prefs.ActionsPreferencePage"
			category="com.evolveum.midpoint.eclipse.ui.preference.midPoint"
			id="com.evolveum.midpoint.eclipse.ui.preference.actions"/>
		<page name="Download"
			class="com.evolveum.midpoint.eclipse.ui.prefs.DownloadPreferencePage"
			category="com.evolveum.midpoint.eclipse.ui.preference.midPoint"
			id="com.evolveum.midpoint.eclipse.ui.preference.download"/>
		<page name="Compare"
			class="com.evolveum.midpoint.eclipse.ui.prefs.ComparePreferencePage"
			category="com.evolveum.midpoint.eclipse.ui.preference.midPoint"
			id="com.evolveum.midpoint.eclipse.ui.preference.compare"/>
	</extension>
	
	<extension
         point="org.eclipse.core.runtime.preferences">
         <scope name="MidPointPreferencePage" class="com.evolveum.midpoint.eclipse.ui.prefs.MidPointPreferencePage"/>
      <initializer
            class="com.evolveum.midpoint.eclipse.ui.prefs.MidPointPreferenceInitializer">
      </initializer>
 	 </extension>
 	<extension
       point="org.eclipse.ui.console.consolePatternMatchListeners">
    	<consolePatternMatchListener
        	  	class="com.evolveum.midpoint.eclipse.ui.util.PatternMatchListenerDelegate"
          		id="com.evolveum.midpoint.eclipse.ui.consolePatternMatchListener"
          		regex="\[see .*\] \(\#\d+\)">
       		<enablement></enablement>
    	</consolePatternMatchListener>
 	</extension>
  
</plugin>
