<?xml version="1.0" encoding="windows-1250"?>
<?eclipse version="3.0"?>
<plugin>
	
	<extension point="org.eclipse.ui.commands">
		<command name="Upload/execute"
			description="Uploads resources or executes actions on midPoint"
			id="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.withAction" name="Execute predefined action afterwards" />
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.stopOnError" name="Stop execution when error occurs" />
		</command>
		<command name="Browse"
			description="Browse objects on midPoint server"
			id="com.evolveum.midpoint.eclipse.ui.command.browse">
		</command>
		<command name="Download"
			description="Downloads objects from midPoint"
			id="com.evolveum.midpoint.eclipse.ui.command.download">
		</command>
		<command name="Reload from server"
			description="Downloads selected objects from midPoint"
			id="com.evolveum.midpoint.eclipse.ui.command.reloadFromServer">
		</command>
		<command name="Compute differences"
			description="Computes differences between midPoint object(s) and the local one(s)"
			id="com.evolveum.midpoint.eclipse.ui.command.computeDifferences">
		</command>
		<command name="Execute predefined action"
			description="Executes a predefined midPoint action"
			id="com.evolveum.midpoint.eclipse.ui.command.executeAction">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.actionNumber" name="Action number"/>
		</command>
		<command name="Test connection"
			description="Tests a connection to midPoint server"
			id="com.evolveum.midpoint.eclipse.ui.command.testConnection">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.serverName" name="Server name"/>
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.serverUrl" name="Server URL"/>
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.login" name="Login"/>
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.password" name="Password"/>
		</command>
		<command name="Test connections"
			description="Tests connections to midPoint servers"
			id="com.evolveum.midpoint.eclipse.ui.command.testConnections">
		</command>
		<command name="Show plugin console"
			description="Shows a console for midPoint plugin"
			id="com.evolveum.midpoint.eclipse.ui.command.showConsole"/>
		<command name="Preferences"
			description="Edit midPoint plugin preferences"
			id="com.evolveum.midpoint.eclipse.ui.command.editPreferences"/>
		<command name="Preferences (actions)"
			description="Edit midPoint plugin preferences related to actions"
			id="com.evolveum.midpoint.eclipse.ui.command.editActionsPreferences"/>
		<command name="NoOp"
			id="com.evolveum.midpoint.eclipse.ui.command.noop"/>
		<command name="Set as action"
			description="Sets the file to be executed as a given action"
			id="com.evolveum.midpoint.eclipse.ui.command.setAsAction">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.actionNumber" name="Action number"/>
		</command>
		<command name="Select midPoint server"
			description="Selects a given server as the current one"
			id="com.evolveum.midpoint.eclipse.ui.command.selectServer">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.serverNumber" name="Server number"/>
		</command>
		<!--
		<command name="Enable on server"
			description="Enables selected object(s) on midPoint server"
			id="com.evolveum.midpoint.eclipse.ui.command.enableOnServer">
		</command>
		<command name="Disable on server"
			description="Disables selected object(s) on midPoint server"
			id="com.evolveum.midpoint.eclipse.ui.command.disableOnServer">
		</command> -->
		<command name="Recompute on server"
			description="Recomputes selected object(s) on midPoint server"
			id="com.evolveum.midpoint.eclipse.ui.command.recomputeOnServer">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.uploadFirst" name="Upload object(s) first"/>
		</command>
		<command name="Delete on server"
			description="Deletes selected object(s) on midPoint server and possibly also locally"
			id="com.evolveum.midpoint.eclipse.ui.command.deleteOnServer">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.raw" name="In raw mode"/>
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.alsoLocally" name="Delete also local file"/>
		</command>
		<command name="Test resource"
			description="Tests selected resource(s) on server"
			id="com.evolveum.midpoint.eclipse.ui.command.testResourceOnServer">
				<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.uploadFirst" name="Upload object(s) first"/>
		</command>
		<command name="Generate random OID"
			description="Generates a random midPoint OID"
			id="com.evolveum.midpoint.eclipse.ui.command.generateOid">
		</command>
		<command name="Mark current log position"
			description="Marks current log position in order to allow showing log from this point (later)"
			id="com.evolveum.midpoint.eclipse.ui.command.markCurrentLogPosition">
		</command>
		<command name="Show log in console"
			description="Shows server log in console window"
			id="com.evolveum.midpoint.eclipse.ui.command.showLogInConsole">
			<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.from" name="From what moment"/>
		</command>
		<command name="Show log in editor"
			description="Shows server log in editor (log viewer) window"
			id="com.evolveum.midpoint.eclipse.ui.command.showLogInEditor">
			<commandParameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.from" name="From what moment/source"/>
		</command>
		<command name="Clear server log"
			description="Clears log on server"
			id="com.evolveum.midpoint.eclipse.ui.command.clearServerLog">
		</command>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.server.FileRequestHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.server.FileRequestHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.computeDifferences" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.server.FileRequestHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.executeAction" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.server.ReloadHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.reloadFromServer" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.server.DownloadHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.download" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.BrowseHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.browse" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.TestConnectionHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.testConnection" />				 
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.TestConnectionHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.testConnections" />				 
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ShowConsoleHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.showConsole" />				 
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.EditPreferencesHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.editPreferences" />				 
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.EditPreferencesHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.editActionsPreferences" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.SetAsActionHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.setAsAction" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.SelectServerHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.selectServer" />
		<!--<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ServerActionHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.enableOnServer" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ServerActionHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.disableOnServer" />-->
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ServerActionHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.recomputeOnServer" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ServerActionHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.deleteOnServer" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ServerActionHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.testResourceOnServer" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.GenerateOidHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.generateOid" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ServerLogHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.markCurrentLogPosition" />				 
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ServerLogHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.showLogInConsole" />				 
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ServerLogHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.showLogInEditor" />
		<handler class="com.evolveum.midpoint.eclipse.ui.handlers.ServerLogHandler"
				 commandId="com.evolveum.midpoint.eclipse.ui.command.clearServerLog" />				 
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<dynamic class="com.evolveum.midpoint.eclipse.ui.menus.PopupMenuContributor"
      			id="menu:com.evolveum.midpoint.eclipse.ui.menu.popup"/>
		</menuContribution>
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu label="&amp;midPoint" mnemonic="M" id="com.evolveum.midpoint.eclipse.ui.menu.midPointMenu">
         	<dynamic class="com.evolveum.midpoint.eclipse.ui.menus.MainMenuContributor"
      			id="menu:com.evolveum.midpoint.eclipse.ui.menu.main"/>
         </menu>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.evolveum.midpoint.eclipse.ui.toolbar.midPointToolbar">
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute"
                  tooltip="Upload to midPoint or execute an action"
                  label="Up/Exec"
                  id="com.evolveum.midpoint.eclipse.ui.toolbar.upload">	<!-- icon="icons/sample.gif" -->
            </command>
            <command
                  commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute"
                  tooltip="Upload to midPoint or execute an action (with predefined action execution afterwards)"
                  label="Up/Ex+Action"
                  id="com.evolveum.midpoint.eclipse.ui.toolbar.uploadWithAction">	<!-- icon="icons/sample.gif" -->
                  <parameter
                        name="com.evolveum.midpoint.eclipse.ui.commandParameter.withAction" value="true"/>
            </command>
         </toolbar>
      </menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="MidPoint"
			class="com.evolveum.midpoint.eclipse.ui.prefs.MidPointPreferencePage"
			id="com.evolveum.midpoint.eclipse.ui.preference.midPoint"/>
		<page name="Actions"
			class="com.evolveum.midpoint.eclipse.ui.prefs.ActionsPreferencePage"
			category="com.evolveum.midpoint.eclipse.ui.preference.midPoint"
			id="com.evolveum.midpoint.eclipse.ui.preference.actions"/>
		<page name="Download"
			class="com.evolveum.midpoint.eclipse.ui.prefs.DownloadPreferencePage"
			category="com.evolveum.midpoint.eclipse.ui.preference.midPoint"
			id="com.evolveum.midpoint.eclipse.ui.preference.download"/>
		<page name="Compare"
			class="com.evolveum.midpoint.eclipse.ui.prefs.ComparePreferencePage"
			category="com.evolveum.midpoint.eclipse.ui.preference.midPoint"
			id="com.evolveum.midpoint.eclipse.ui.preference.compare"/>
		<page name="Log"
			class="com.evolveum.midpoint.eclipse.ui.prefs.LogPreferencePage"
			category="com.evolveum.midpoint.eclipse.ui.preference.midPoint"
			id="com.evolveum.midpoint.eclipse.ui.preference.log"/>			
		<page name="Miscellaneous"
			class="com.evolveum.midpoint.eclipse.ui.prefs.MiscPreferencePage"
			category="com.evolveum.midpoint.eclipse.ui.preference.midPoint"
			id="com.evolveum.midpoint.eclipse.ui.preference.misc"/>			
	</extension>
	
	<extension
         point="org.eclipse.core.runtime.preferences">
         <scope name="MidPointPreferencePage" class="com.evolveum.midpoint.eclipse.ui.prefs.MidPointPreferencePage"/>
      <initializer
            class="com.evolveum.midpoint.eclipse.ui.prefs.MidPointPreferenceInitializer">
      </initializer>
 	 </extension>
 	<extension
       point="org.eclipse.ui.console.consolePatternMatchListeners">
    	<consolePatternMatchListener
        	  	class="com.evolveum.midpoint.eclipse.ui.util.PatternMatchListenerDelegate"
          		id="com.evolveum.midpoint.eclipse.ui.consolePatternMatchListener"
          		regex="\[see .*\] \(\#\d+\)">
       		<enablement></enablement>
    	</consolePatternMatchListener>
 	</extension>

	<extension
	  point="org.eclipse.ui.bindings">
 		<key
  			sequence="M3+F1"
  			commandId="com.evolveum.midpoint.eclipse.ui.command.browse"
  			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
 		<key
  			sequence="M3+F2"
  			commandId="com.evolveum.midpoint.eclipse.ui.command.uploadOrExecute"
  			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
  		<key
  			sequence="M3+1"
  			commandId="com.evolveum.midpoint.eclipse.ui.command.executeAction"
  			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
  			<parameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.actionNumber" value="1"/>
  		</key>
  		<key
  			sequence="M3+2"
  			commandId="com.evolveum.midpoint.eclipse.ui.command.executeAction"
  			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
  			<parameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.actionNumber" value="2"/>
  		</key>
  		<key
  			sequence="M3+3"
  			commandId="com.evolveum.midpoint.eclipse.ui.command.executeAction"
  			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
  			<parameter id="com.evolveum.midpoint.eclipse.ui.commandParameter.actionNumber" value="3"/>
  		</key>
  	</extension>
 	<extension
      	point="org.eclipse.ui.editors.templates">
			<include file="templates/templates.xml"/>
	 </extension>  
</plugin>
